<div class="container-fluid">
  <div class="row bg-dark" style="height:50px;">
    <div class="col-3 text-light make-left">
      PROJECT
    </div>

    <div class="9">
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
      <div class="col-1"></div>

      <!-- DISPLAY ALL PLACES -->
      <div class="col-7">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Latitue</th>
                  <th scope="col">Rating</th>
                </tr> 
              </thead>
              <tbody>
                <tr *ngFor="let item of plist; index as i" (click)="editPlace(item)">
                  <th scope="row">{{i}}</th>
                  <td>{{item.name}}</td>
                  <td>{{item.latitude}}</td>
                  <td>{{item.rating}}</td>
                </tr>
                
              </tbody>
            </table>
      </div>


      <!-- ADD PLACE-->
      <div class="col-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Place Name</label>
                <input type="text" class="form-control" [(ngModel)]="place.name" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Latitue</label>
                <input type="number" class="form-control" [(ngModel)]="place.latitude"  placeholder="latitude">
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Longitude</label>
                  <input type="number" class="form-control"  [(ngModel)]="place.longitude" placeholder="longitude">
              </div>

              <div class="form-group">
                  <label for="exampleInputPassword1">Rating</label>
                  <input type="number" class="form-control"  [(ngModel)]="place.rating" placeholder="Rating">
              </div>
              
              <button type="submit" class="btn btn-primary" (click)="addPlace()">Submit</button>
      </div>
  </div>
</div>